clearable-input {
  position: relative;
}

.clearable-input {
  width: 300px;
  padding: 6px 12px;
  border-radius: 4px;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #eee;
  border: 1px solid #ccc;
  padding: 3px;
	z-index:1;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	text-align: center;
	color: #555;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
